<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>

  <%= yield :css %>

  <script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
  <script src='http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js'></script>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
